/*/// General ///*/
.nav{
	background-color: #52091B;
}

/*/// Home Page ///*/
.personalText{
	display: inline;
}
@media only screen 
and (max-width : 992px) {
    /* Styles */
	.personalText{
		display: none;
		font-size: 10px;
	}
	.personalHeader{
		font-size: 30px;
	}
}

/*/// Portfolio Page ///*/
.portfolioCards{
	margin-bottom: 20px;
	padding: 10px;
}
.pCardInfo{
	padding: 15px 15px 0px 15px;
}
.pCardText{
	margin: 0px;
}
.pCardButton{
	width: 100%;
	background-color: transparent;
	border: none;
}
#more1, #more2, #more3, #more4, #more5, #more6 {
	display: none;
}

/*/// Image Zoom ///*/
.img-hover-zoom {
	height: 100%;
	overflow: hidden;
}

/*Generic Zoom*/
.img-hover-zoom img {
	transition: transform .5s ease;
}
.img-hover-zoom:hover img {
	transform: scale(1.5);
}

/* Point Zoom */
.img-hover-zoom--point-zoom img {
	transform-origin: 50% 0%;
	transition: transform .5s, filter .5s ease-out;
}
#img-hover-zoom--krabby-zoom img {
	/*Krabby Patty Zoom*/
	transform-origin: 0% 0%;
	transition: transform .5s, filter .5s ease-out;
}
.img-hover-zoom--point-zoom:hover img {
	transform: scale(1.5);
}


